<div class="container">
    <div class="card">
        <div ng-controller="NotesController as nc">
            <div ng-controller="ViewSectionController as vc">
                <div class="card-header">
                    <h3 class="card-title">Notes in {{sc.activeSection}}</h3>
                    <ul class="list-group" ng-repeat="note in nc.getNotes(sc.activeSection)">
                        <li class="list-group-item">{{note.text}}</li>
                        <button ng-click='nc.remove(note)'>Remove note</button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>