<div class="panel panel-primary">
    <div class="panel-heading">User registration form</div>
    <div class="panel-body">
    </div class="" ng-show="ufc.message">{{ufc.message}}</div>
<form class="css-form" name="userForm" ng-submit="ufc.submit()" novalidate>
    <div class="form-group">
        <label for="username">User name</label>
        <input required ng-model="ufc.user.username" type="text" class="form-control" id="username" name="username" placeholder="User name"
            user-exist>
        <span ng-show="userForm.username.$error.userExist">
            User name is not unique
        </span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input required ng-model="ufc.user.password" type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="repeatPassword">Repeat password</label>
        <input required ng-model="ufc.user.repeatPassword" type="password" class="form-control" id="repeatPassword" name="repeatPassword"
            placeholder="Repeat Password" match-to="ufc.user.password">
        <span ng-show="userForm.password.$touched && userForm.repeatPassword.$error.matchTo">
            Passwords should match
        </span>
    </div>
    <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <input ng-model="ufc.user.dateOfBirth" ng-pattern="/^[0-9][0-9]\.[0-1][0-9]\.[1-2][0-9][0-9][0-9]$/" type="dateOfBirth" class="form-control"
            id="dateOfBirth" name="dateOfBirth" placeholder="Date Of birth">
        <span ng-show="userForm.dateOfBirth.$error.pattern">
            Date of birth should be in format dd.mm.yyyy
        </span>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="ufc.user.subscribe"> Subscribe for newsletters
        </label>
    </div>
    <div class="form-group" ng-show="ufc.user.subscribe">
        <label for="email">Email</label>
        <input ng-model="ufc.user.email" type="email" class="form-control" id="email" name="email" placeholder="email">
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>

</form>
</div>
</div>